body {
    padding: 30px
}

h1 { 
    color: grey
}

.hello {
    font-weight: 200;
    color: red
}

#eemee {
    outline: 5px solid black;
}

div {
    padding: 30px;
    background-color: goldenrod 
}
